body{
    background: linear-gradient(rgba(98, 105, 116, 0.10), rgba(98, 105, 116, 0.10)), url(../Images/Backgrounds/mountain.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact{
    background: rgb(27, 27, 27);
    color: white;
    text-align: center;
    padding-top: 10px;
}

.contactform{
    background: rgba(0, 0, 0, 0.88);
    color: white;
}

.contactform h3{
    color: rgb(0, 162, 255);
    text-align: center;
}

.contact img{
    width: 30px;
    height: 30px;
}

.black{
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(0,0,0);
}

.contentStandard{
    padding-left: 20%;
    padding-right: 20%;
}

@media only screen and (max-width: 600px) {
    .contactform h3{
        font-size: x-large;
    }

    .contentStandard{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}