body{
    background: url(../Images/mountain.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainMessage{
    text-align: center;
    display: block;
    padding-top: 20%;
    padding-bottom: 20%;
}