body{
    background: linear-gradient(rgba(98, 105, 116, 0.10), rgba(98, 105, 116, 0.10)), url(../Images/Backgrounds/mountain.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.projectTitle{
    background: rgba(0, 0, 0, 0.88);
    color: white;
    text-align: center;
}

.projectTitle h3{
    color: rgb(0, 162, 255);
}

.image{
    display: block;
    max-width: 240px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.placeholder h4{
    text-align: center;
}

.placeholder .buttons{
    text-align: center;
}

.placeholder a{
    margin-left: 5px;
    margin-right: 5px;
}

.projects{
    background: rgba(0, 0, 0, 0.88);
    color: white;
}

.justifyText{
    text-align: justify;
}

.bgwhite{
    background: white;
}

.contact{
    background: rgb(27, 27, 27);
    color: white;
    text-align: center;
    padding-top: 10px;
}

.contact img{
    width: 30px;
    height: 30px;
}

.black{
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(0,0,0);
}

@media only screen and (max-width: 600px) {
    .projectTitle h3{
        font-size: x-large;
    }

    .placeholder{
        margin-bottom: 20px;
    }
}




